<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h2>Member</h2>

    <form method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username"><br>
      <label for="pass">Password</label>
      <input type="password" id="pass" name="password"><br>
      <input type="submit" value="Sign in" formaction="/login">
      <input type="submit" value="Register" formaction="/register" >
    </form>
    <h1>{{.Incorrect}}</h1>
</body>
</html>