<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>WELCOME : {{.Uname}}</h1>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Email</td>
            </tr>
        </thead>
    </table>


</body>
</html>